global
ulimit-n 51200
 
defaults
    log global
    mode http
    option dontlognull
    timeout connect 1000ms
    timeout client 150000ms
    timeout server 150000ms


frontend http-couchdb
    bind *:80
    default_backend couchdb_cluster
 
backend couchdb_cluster
    balance leastconn
    cookie SERVERID insert indirect nocache
    server node1 {{node1_domain}}:5984 check cookie s1
    server node2 {{node2_domain}}:5984 check cookie s2
    server node3 {{node3_domain}}:5984 check cookie s3
    server node4 {{node4_domain}}:5984 check cookie s4

frontend http-backup
    bind *:5984
    default_backend couchdb_backup

backend couchdb_backup
    server backup {{backup_domain}}:5984 check 
