global
    maxconn 512
    spread-checks 5

defaults
    mode http
    log global
    monitor-uri /_haproxy_health_check
    option log-health-checks
    option httplog
    balance leastconn
    option forwardfor
    option redispatch
    retries 100
    option http-server-close
    timeout client 150000
    timeout server 3600000
    timeout connect 1000
    stats enable
    stats uri /_haproxy_stats


frontend http-couchdb
    bind *:80
    default_backend couchdb_cluster
 
backend couchdb_cluster
    option httpchk GET /_up
    http-check disable-on-404
    server node1 {{node1_domain}}:5984 check inter 5s
    server node2 {{node2_domain}}:5984 check inter 5s
    server node3 {{node3_domain}}:5984 check inter 5s
    server node4 {{node4_domain}}:5984 check inter 5s


frontend http-backup
    bind *:5984
    default_backend couchdb_backup
 
backend couchdb_backup
    option httpchk GET /_up
    http-check disable-on-404
    server node1 {{backup_domain}}:5984 check inter 5s
